:root {
    --primary-color: #17629B;
    --secondary-color: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    margin: 24px 0;
}

header .logo {
    width: 180px;
    margin-bottom: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

main h1 {
    font-size: 32px;
    font-weight: 700;
}

main .links {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
}

main .icon-link {
    font-size: 30px;
    color: var(--secondary-color);
    text-decoration: none;
    
}

main img {
    width: 100%;
    margin-bottom: 24px;
}

footer img {
    width: 60px;
    margin-bottom: 8px;
}

footer p {
    font-size: 14px;
}